{% extends 'base.html' %}

{% load static %}
{% block body %}
<!-- Wrap -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
  .profile-bnr {
    min-height: 500px;
    background: url("{{data.first.bg_img.url}}") center center no-repeat;
    background-size: cover;
    position: relative;
}
</style>
<div id="wrap"> 

  
  <!-- Content -->
  <div id="content"> 

    <!-- Papular Companies -->
    {% if data %}
      <section class="padding-bottom-100">
      <div class="compny-profile"> 
        <!-- SUB Banner -->
        <div class="profile-bnr">
          <div class="container"> 
            
            <!-- User Iinfo -->
            <div class="user-info">
              <div class="col-left">
                <div class="user-in">
                  <h1>{{data.first.name}}<a class="veri" href="companies-detail.html#." data-toggle="tooltip" data-placement="top" title="Verified"> <i class="fa fa-check"></i> </a> </h1>
                  <h6>{{data.first.title}}</h6>
                  <p>{{data.first.address}}( <a href="#map">View Location</a> )</p>
                  
                  <!-- Followers -->
                  <div class="followr">
                    <ul class="row">
                      <li class="col-sm-6">
                        <p>Followers <span>({{total_follower}})</span></p>
                      </li>
                      <!--<li class="col-sm-6">
                        <p>Following <span>(1874)</span></p>
                      </li>-->
                    </ul>
                  </div>
                </div>
              </div>
              
              <!-- Col Info -->
              <div class="col-left">
                <div class="user-in">
                  <div class="right-top-bnr">
                    <div class="connect"> <a href="companies-detail.html#." data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus"></i> Contact Company</a>  </div>
                  </div>
                  
                  <!-- Social Icon -->
                  <div class="social-links"> <a href="{{data.first.facebook}}"><i class="fab fa-facebook-f"></i></a> <a href="{{data.first.facebook}}"><i class="fab fa-twitter"></i></a> <a href="{{data.first.tweeter}}"><i class="fab fa-google"></i></a> <a href="{{data.first.email}}"><i class="fab fa-linkedin-in"></i></a> <a href="{{data.first.linkedin}}"><i class="far fa-bookmark"></i> </a> <a href="{{data.first.instagram}}"><i class="far fa-envelope"></i> </a> <a href="{{data.first.email}}" class="float-right margin-right-0" data-toggle="tooltip" data-placement="top" title="Reports"><i class="fa fa-exclamation"></i> </a> </div>
                  
                  <!-- Stars -->
                  <ul class="row">
                    <li class="col-sm-6">
                      <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span>(67)</span> </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Modal POPUP -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <h6><a class="close" href="companies-detail.html#." data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a> Send Message</h6>
                <!-- Forms -->
                <form action="#">
                  <ul class="row">
                    <li class="col-md-6">
                      <input type="text" placeholder="First Name" class="form-control">
                    </li>
                    <li class="col-md-6">
                      <input type="text" placeholder="Last Name" class="form-control">
                    </li>
                    <li class="col-md-6">
                      <input type="text" placeholder="Country" class="form-control">
                    </li>
                    <li class="col-md-6">
                      <input type="text" placeholder="Email" class="form-control">
                    </li>
                    <li class="col-md-12">
                      <textarea placeholder="Your Message" class="form-control"></textarea>
                    </li>
                    <li class="col-md-12 text-center">
                      <button class="btn">Send message</button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Profile Company Content -->
        <div class="profile-company-content main-user">
          <div class="container"> 
            
            <!-- Nav Tabs -->
            <div class="navi-sticky">
              <div class="sticky">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li><a class="nav-link active" data-toggle="tab" href="#about" role="tab" aria-selected="true">About</a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="#portfolio" role="tab" aria-selected="true">Portfolio</a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="#contact" role="tab" aria-selected="true">New Blog</a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="#folow" role="tab" aria-selected="true">Followers<small>({{total_follower}})</small></a> </li>
                 <!-- <li><a class="nav-link" data-toggle="tab" href="#folowng" role="tab" aria-selected="true">Following<small>(120)</small></a> </li>-->
                </ul>
              </div>
            </div>
            <div class="row"> 
              <!-- SIDE BAR -->
              <div class="col-lg-4"> 
                
                <!-- Company Information -->
                <div class="sidebar"> 
                  
                  <!-- Heading for mobile Collapse -->
                  <h5 class="main-title">Company Information</h5>
                  <div class="navbar-expand-lg"> 
                    <!-- Heading for mobile Collapse --> 
                    <a class="collapsed main-title fr-mob" data-toggle="collapse" data-target="#cmpny-info" aria-expanded="false"> Company Information </a>
                    <div class="collapse navbar-collapse" id="cmpny-info">
                      <div class="side-bar-indide"> 
                        
                        <!-- Company Images -->
                        <div class="compny-thumbnail"> <img class="img-responsive" src="{{data.first.logo.url}}" alt=""> </div>
                        
                        <!-- Company Information -->
                        <div class="sidebar-information">

                          <ul class="single-category">
                            {% if data.first.title %}
                            <li>
                              <h6 class="title">Industry</h6>
                              <span class="subtitle">{{data.first.title}}</span> </li>
                            {% endif %}

                             {% if data.first.address %}
                            <li>
                              <h6 class="title">Location</h6>
                              <span class="subtitle">{{data.first.address}}</span> </li>
                            {% endif %}

                             {% if data.first.total_emp %}
                            <li>
                              <h6 class="title">Employees</h6>
                              <span class="subtitle">{{data.first.total_emp}}</span> </li>
                            {% endif %}

                             {% if data.first.operating_time %}
                            <li>
                              <h6 class="title">Operating Hours</h6>
                              <span class="subtitle">{{data.first.operating_time}}</span> </li>
                            {% endif %}

                             {% if request.user.userdatabase_set.first.email %}
                            <li>
                              <h6 class="title">Contacts</h6>
                              <div class="subtitle"><a href="companies-detail.html#.">{{request.user.userdatabase_set.first.email}}</a> </div>
                            </li>
                            {% endif %}

                             {% if data.first.website %}
                            <li>
                              <h6 class="title">Website</h6>
                              <div class="subtitle"> <a href="{{data.first.website}}" target="_blank">{{data.first.website}}</a> </div>
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Company Rating -->
                <div class="sidebar">
                  <h5 class="main-title">Company Rating</h5>
                  <div class="navbar-expand-lg"> 
                    <!-- Heading for mobile Collapse --> 
                    <a class="collapsed main-title fr-mob" data-toggle="collapse" data-target="#cmpny-rtng" aria-expanded="false"> Company Rating </a>
                    <div class="collapse navbar-collapse" id="cmpny-rtng">
                      <div class="side-bar-indide">
                        <div class="sidebar-information">
                          <ul class="single-category com-rate">
                            <li>
                              <h6 class="title">Expertise:</h6>
                              <span class="subtitle"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half-alt"></i> </span> </li>
                            <li>
                              <h6 class="title">Knowledge:</h6>
                              <span class="subtitle"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> </span> </li>
                            <li>
                              <h6 class="title">Quality:</h6>
                              <span class="subtitle"><i class="fas fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half-alt"></i> </span> </li>
                            <li>
                              <h6 class="title">Price:</h6>
                              <span class="subtitle"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> <i class="far fa-star"></i> </span> </li>
                            <li>
                              <h6 class="title">Services:</h6>
                              <span class="subtitle"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> </span> </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Tab Content -->

              <div class="col-lg-8">
                <div class="tab-content"> 
                  
                  <!-- Blog -->
                   {% for i in blogs_data %}
                  <div id="about" class="tab-pane fade show active">
                    <div class="profile-main">
                      <h3>{{i.title}} </h3>

                      <div class="profile-in">
                       <p>{{i.blogs}}</p>
                        <!-- Video -->
                        {{i.youtube_embad | safe}}
                        <p><center><h6>Published : {{i.date}}</h6></center></p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div id="services" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Services</h3>
                      <div class="profile-in">
                        <div class="row"> 
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="far fa-gem"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Web Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="fas fa-anchor"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Motion Graphic</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="fab fa-viacoin"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Branding Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="fa fa-trophy"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Google Sell</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="fa fa-anchor"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Motion Graphic</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="far fa-gem"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Branding Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- PORTFOLIO -->
                  <div id="portfolio" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Portfolio</h3>
                      <div class="profile-in portfolio"> 
                        
                        <!-- PORTFOLIO ITEMS -->
                        <div class="items item-space row animate fadeInUp" data-wow-delay="0.4s"> 
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-1.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-photography pf-branding-design">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-2.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design pf-branding-design">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-3.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design pf-digital-art ">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-4.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-branding-design pf-digital-art">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-5.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-design pf-digital-art">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-9.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design pf-branding-design">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-7.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design pf-digital-art ">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-8.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Jobs -->
                  <div id="jobs" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Jobs from the Company</h3>
                      <div class="profile-in">
                        <div class="header-listing">
                          <div class="custom-select-box">
                            <select name="order" class="custom-select">
                              <option value="0">Most popular</option>
                              <option value="1">The latest</option>
                              <option value="2">The best rating</option>
                            </select>
                          </div>
                        </div>
                        
                        <!-- Job Board Companies -->
                        <div class="listing-ver-3">
                          <div class="listing-heading">
                            <h5><a href="companies-detail.html#.">php Developer</a></h5>
                          </div>
                          <div class="listing-inner">
                            <div class="listing-content">
                              <h6 class="title-company"><strong>Company:</strong> webicode Telecommunications Inc.</h6>
                              <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> Full Time </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> 6 hours ago</span> 
                              
                              <!-- Apply Now -->
                              <div class="aply"> <a href="companies-detail.html#." class="btn">Apply Now</a> </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Job Board Companies -->
                        <div class="listing-ver-3">
                          <div class="listing-heading">
                            <h5><a href="companies-detail.html#.">Responsive Web Designer</a></h5>
                          </div>
                          <div class="listing-inner">
                            <div class="listing-content">
                              <h6 class="title-company"><strong>Company:</strong> webicode Telecommunications Inc.</h6>
                              <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> Full Time </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> 6 hours ago</span> 
                              
                              <!-- Apply Now -->
                              <div class="aply"> <a href="companies-detail.html#." class="btn">Apply Now</a> </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Job Board Companies -->
                        <div class="listing-ver-3">
                          <div class="listing-heading">
                            <h5><a href="companies-detail.html#.">Front-End Web Developer</a></h5>
                          </div>
                          <div class="listing-inner">
                            <div class="listing-content">
                              <h6 class="title-company"><strong>Company:</strong> webicode Telecommunications Inc.</h6>
                              <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> Full Time </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> 6 hours ago</span> 
                              
                              <!-- Apply Now -->
                              <div class="aply"> <a href="companies-detail.html#." class="btn">Apply Now</a> </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Job Board Companies -->
                        <div class="listing-ver-3 margin-bottom-0">
                          <div class="listing-heading">
                            <h5><a href="companies-detail.html#.">Creative UI/UX Designer</a></h5>
                          </div>
                          <div class="listing-inner">
                            <div class="listing-content">
                              <h6 class="title-company"><strong>Company:</strong> webicode Telecommunications Inc.</h6>
                              <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> Full Time </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> 6 hours ago</span> 
                              
                              <!-- Apply Now -->
                              <div class="aply"> <a href="companies-detail.html#." class="btn">Apply Now</a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Contact -->
                  <div id="contact" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Blogs</h3>
                      <div class="profile-in">
                        <p>Welcome ! Start writing your thoughts Mr. <b>{{request.user.userdatabase_set.first.name}}</b></p>
                        <form action="{% url 'companyBlogs' %}" class="contact-company" enctype="multipart/form-data" method="post">{% csrf_token %}
                          <ul class="row">

                            <li class="col-sm-12">
                               <label>Enter Title *</label>
                              {{form.title}}
                            </li>
                            <li class="col-sm-12">
                               <label>Enter Blog Content *</label>
                              {{form.blogs}}
                            </li>
                            <li class="col-sm-12">
                               <label>Enter Youtube Embedded Code *</label>
                              {{form.youtube_embad}}
                            </li>
                            <li class="col-sm-6">
                               <label>Enter Date *</label>
                              {{form.date}}
                            </li>

                          </ul>
                          <center><button type="submit" class="btn">Post</button></center>
                        </form>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Support -->
                  <div id="support" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Support</h3>
                      <div class="profile-in"> </div>
                    </div>
                  </div>
                  
                  <!-- Follows -->
                  <div id="folow" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Followers({{total_follower}})</h3>
                      <div class="profile-in"> 
                        
                        <!-- Follows -->
                        <div class="followers-sec">
                          <ul>
                            <!-- Follows -->
                            {% for i in follower %}
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="{{i.image.url}}" alt="" class="img-responsive"> </div>
                                <h4>{{i.name}}</h4>
                                <p> <span>Email:</span> {{i.email}}</p>
                                <a href="{% url 'userProfile' i.usr.username %}" class="btn btn-inverse"> View Profile</a> </div>
                            </li>
                            
                           {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>

    
    <!-- ABOUT -->
    <section class="bg-white"> 
      <!-- Right Background -->
      <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_right_layout"> </div>
        
        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
          <div class="about-us-con">
            <h3>About Company</h3>
            <p>{{data.first.about}} </p>
            <ul class="count-info row">
              <li class="col"> <span class="counter">{{total_follower}}</span><span>+</span>
                <p>Clients</p>
              </li>
              <li class="col"> <span class="counter">{{data.first.total_emp}}</span><span>+</span>
                <p>Total Employees</p>
              </li>
            </ul>
            <a href="companies-detail.html#." class="btn">Find a Jobs</a> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>


 <div id="map" style="margin:10px;">
   <center><h4>Company Map</h4></center>
   {{data.first.map_embad | safe}}
   </div>

  </div>
  

 {% else %}
  <div class="col-md-12">
    <div class="row" style="font-family:sofia;font-size:30px;padding:100px;margin:20px;align:center;">

    <h1>No Company Existed</h1>

      <a href="{% url 'company' %}" style="color:red;margin:10px;padding:10px;">[Add Company]</a>
    </div>
    </div>


    {% endif %}
</div>


{% endblock %}