{% extends 'base.html' %}


{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
{% block body %}

  <div id="content"> 
    
    <!-- Banner -->
    <section class="sub-bnr">
      <div class="container">
        <h2>Professionals Available</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Professionals</li>
          </ol>
        </nav>
      </div>
    </section>
    
    <!-- Papular Professionals -->
    <main class="cd-main-content">
      <section class="padding-top-100 padding-bottom-100">
        <div class="container"> 
          
          <!-- filter -->
          <div class="cd-tab-filter-wrapper filter-wrapper" >
            <div class="cd-tab-filter">

              <!-- filter Btns -->
              <ul class="cd-filters">

                {% if what == "all" %}
                  <li class="filter"><a class="selected" href="{% url 'professionals' 'all' %}">All({{data.count}})</a></li>
                {% else %}
                  <li class="filter"><a class="" href="{% url 'professionals' 'all' %}">All</a></li>
                 {% endif %}

                {% if what == "request" %}
                  <li class="filter" ><a  class="selected" href="{% url 'professionals' 'request' %}">Request({{data.count}})</a></li>
                {% else %}
                 <li class="filter" ><a  class="" href="{% url 'professionals' 'request' %}">Request</a></li>
                 {% endif %}

                 {% if what == "pending" %}
                  <li class="filter" ><a  class="selected" href="{% url 'professionals' 'pending' %}">Pending({{data.count}})</a></li>
                 {% else %}
                 <li class="filter" ><a  class="" href="{% url 'professionals' 'pending' %}">Pending</a></li>
                {% endif %}

                {% if what == "friends" %}
                  <li class="filter" ><a  class="selected" href="{% url 'professionals' 'friends' %}">Friends({{data.count}})</a></li>
                 {% else %}
                 <li class="filter" ><a  class="" href="{% url 'professionals' 'friends' %}">Friends</a></li>
                {% endif %}

              </ul>


            </div>
          </div>
          <section class="cd-gallery">
            <ul>
             {% if what == "all" %}
                {% if data %}
                  {% for i in data %}
              <li class="mix freelance ">
                <div class="team-inside">
                  <div class="img-sec"> <img src="{{i.image.url}}" class="img-responsive" alt="" >
                     {% if i.usr.username != request.user.username %}
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="{% url 'connections' 'send_request' i.id %}" class="btn">Follow</a> <a href="{% url 'userProfile' i.usr.username %}" class="btn">View Profile</a> </div>
                    </div>
                    {% else %}
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="#" class="btn">Can't Follow Ownself</a> <a href="{% url 'userProfile' i.usr.username %}" class="btn">View Profile</a> </div>
                    </div>
                    {% endif %}

                  </div>

                  <div class="txt-sec" >

                    <h5 ><a href="{% url 'userProfile' i.usr.username %}"> {{i.name}} </a></h5>
                    <span>
                      <div style="font-family:sofia;">
                      {% if i.profile_title %}
                        {{i.profile_title}}
                      {% else %}
                       Username : {{i.usr.username}}
                      {% endif %}
                    </div>
                    </span> <span><i class="fa fa-map-marker" style="color:green;"></i>
                    {% if i.location %}
                       {{i.location}}
                    {% else %}
                       India
                    {% endif %}
                  </span> </div>
                </div>
              </li>
               {% endfor %}
                 {% else %}
                 <li class="mix freelance "><div style="font-family:sofia;font-size:20px;">No Connections Available</div> </li>
                {% endif %}
             {% endif %}




              {% if what == "request" %}
              {% if data %}
               {% for i in data %}
              <li class="mix freelance ">
                <div class="team-inside">
                  <div class="img-sec"> <img src="{{i.image.url}}" class="img-responsive" alt="" >
                     {% if i.usr.username != request.user.username %}
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="{% url 'connections' 'accept_request' i.id %}" class="btn">Accept</a> <a href="{% url 'connections' 'reject_request'  i.id %}" class="btn">Reject Request</a> </div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="txt-sec">
                    <h5><a href="{% url 'userProfile' i.usr.username %}"> {{i.name}} </a></h5>
                    <span>
                      <div style="font-family:sofia;">
                      {% if i.profile_title %}
                        {{i.profile_title}}
                      {% else %}
                       Username : {{i.usr.username}}
                      {% endif %}
                    </div>
                    </span> <span><i class="fa fa-map-marker" style="color:green;"></i>
                    {% if i.location %}
                       {{i.location}}
                    {% else %}
                       India
                    {% endif %}
                  </span> </div>
                </div>
              </li>
               {% endfor %}
              {% else %}
                <li class="mix freelance "><div style="font-family:sofia;font-size:20px;">No Requests</div> </li>
              {% endif %}
            {% endif %}

              {% if what == "friends" %}
              {% if data %}
               {% for i in data %}

              <li class="mix freelance ">
                <div class="team-inside">
                  <div class="img-sec"> <img src="{{i.image.url}}" class="img-responsive" alt="" >
                    {% if i.usr.username != request.user.username %}
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="{% url 'userProfile' i.usr.username %}" class="btn">View Profile</a> </div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="txt-sec">
                    <h5><a href="{% url 'userProfile' i.usr.username %}"> {{i.name}} </a></h5>
                    <span>
                       <div style="font-family:sofia;">
                      {% if i.profile_title %}
                        {{i.profile_title}}
                      {% else %}
                       Username : {{i.usr.username}}
                      {% endif %}
                    </div>
                    </span> <span><i class="fa fa-map-marker" style="color:green;"></i>
                    {% if i.location %}
                   {{i.location}}
                    {% else %}
                    India
                    {% endif %}
                  </span> </div>
                </div>
              </li>

               {% endfor %}
              {% else %}
               <li class="mix freelance "><div style="font-family:sofia;font-size:20px;">No Friends in the list</div> </li>
              {% endif %}
            {% endif %}

              {% if what == "pending" %}
                {% if data %}
                  {% for i in data %}
              <li class="mix freelance ">
                <div class="team-inside">
                  <div class="img-sec"> <img src="{{i.image.url}}" class="img-responsive" alt="" >
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="{% url 'userProfile' i.usr.username %}" class="btn">View Profile</a> <a href="{% url 'connections' 'unsent'  i.id %}" class="btn">Unsent</a> </div>
                    </div>
                  </div>
                  <div class="txt-sec">
                    <h5><a href="{% url 'userProfile' i.usr.username %}"> {{i.name}} </a></h5>
                    <span>
                       <div style="font-family:sofia;">
                      {% if i.profile_title %}
                        {{i.profile_title}}
                      {% else %}
                       Username : {{i.usr.username}}
                      {% endif %}
                    </div>
                    </span> <span><i class="fa fa-map-marker" style="color:green;">
                  </i>
                    {% if i.location %}
                       {{i.location}}
                    {% else %}
                      India
                  {% endif %}</span> </div>
                </div>
              </li>
                 {% endfor %}
                {% else %}
                 <li class="mix freelance "><div style="font-family:sofia;font-size:20px;">No Pending Requests</div> </li>
                {% endif %}
            {% endif %}

            </ul>

          </section>
        </div>
      </section>
    </main>
    
    <!-- ABOUT -->
    <section class="bg-white"> 
      <!-- Right Background -->
      <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_right_layout"> </div>
        
        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
          <div class="about-us-con">
            <h3>We are growing </h3>

            <ul class="count-info row">
              <li class="col"> <span class="counter">50</span><span>+</span>
                <p>Members</p>
              </li>
              <li class="col"> <span class="counter">50</span><span>+</span>
                <p>Companies added</p>
              </li>
            </ul>
             </div>

        </div>
      </div>
      <div class="clearfix"></div>
    </section>
  </div>

{% endblock %}
  

